<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="apiEndpoint" value="http://localhost:51215/api/message" />
        <add key="apiKey" value="ECCBCF7EE60AA90F5DEE7571A214E2A550C3CB12AE21ED236DE7C5762B8A8BBED39F8015F3353CB3848465DBC63729FF199DBA3A55F40A1E719BB1A64414CE9E" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>