<div class="jumbotron" id="app">
    <div v-cloak>
        <div v-if="loading">
            <vue-simple-spinner></vue-simple-spinner>
        </div>
        <div v-if="success">
            <h1>{{message}}</h1>
            <p>Message mode: {{mode}}</p>
        </div>
        <div v-if="failed">
            <p>{{failure_message}}</p>
        </div>
    </div>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
@section scripts
{
    <script>
        window.api = window.api || {};
        window.api.endPoint = "@ViewBag.apiEndpoint";
        window.api.key = "@ViewBag.apiKey";
    </script>
    <script src="~/content/scripts/libs/require.js" data-main="content/scripts/app"></script>
}
